body {background:#f9f9f9;}
#header {background:#000;color:#ddd}
#main {background:#f9f9f9;}
#primary {}
#primary li {padding:.2em .5em;border:1px #ccc solid;border-width:0px 1px 0px 0px;font-size:1.2em;letter-spacing:.1em}
#primary li.last {border:0px;}
#primary li a:link,
#primary li a:visited,
#primary li a:active {color:#ddd;text-decoration:none;}
#primary li.active-trail a:link,
#primary li.active-trail a:visited,
#primary li.active-trail a:active {color:#666}
#primary li.active-trail {background:#f9f9f9;}
#secondary {}
#secondary li {padding:0px .5em .2em;margin-top:-1px;background:#eee}
#secondary li.last {border:0px;}
#secondary li a:link,
#secondary li a:visited,
#secondary li a:active {color:#666;text-decoration:none;}
#secondary li.active-trail a:link,
#secondary li.active-trail a:visited,
#secondary li.active-trail a:active {color:#222}
#secondary li.active-trail {background:#eee;}
#secondary li.active.active-trail a.active:link,
#secondary li.active.active-trail a.active:visited,
#secondary li.active.active-trail a.active:active,
#primary li.active.active-trail a.active:link,
#primary li.active.active-trail a.active:visited,
#primary li.active.active-trail a.active:active {color:#000}


#content-inner {padding:0 10px 10px;}
table {background:#eee;border:2px #eee solid}
table tr.even td,
table tr.odd td {padding:.2em .5em}
table tr.odd,
table tr.even {border:0px;}
table tr.odd {background:#e5e5e5;}
table tr.even {background:#d9d9d9;} 
